{% extends "base-before-log.html" %}
{% block content %}
    <h1>Załóż konto na PhotoGram</h1>
    <p>E-mail</p>
    <input type="email">
    <p>Nazwa użytkownika</p>
    <input type="text">
    <p>Hasło</p>
    <input type="password">
    <p>Powtórz hasło</p>
    <input type="password">
    <p>Zaznacz swoją płeć</p>
    <input type="radio" name="plec" value="k"> kobieta
    <input type="radio" name="plec" value="m"> mężczyzna
    <input type="radio" name="plec" value="n"> nieokreślona
    <p><button>Zarejestruj się</button></p>
    <a href="{% url 'photogram' %}"><button>Wróć do strony głównej</button></a>
{% endblock content %}
